.list-image li {
  width: 30%;
}
.subscribe input::placeholder {
  font-style: italic;
  font-size: 13px;
}
.social-media-icon li:hover {
  background-color: #f50136;
}
.social-media-icon li:hover i {
  color: white;
}
.footer-menu ul li {
  transition: 0.5s;
}
.footer-menu ul li:hover {
  color: white;
}
