
.box .image img,
.box .info-leader,
.box .info-leader h5 {
  transition: 0.5s;
}
.box:hover .image img {
  transform: scale(1.1);
}
.box:hover .info-leader {
  background-color: #ff0037;
}
.box:hover .info-leader h5 {
  color: white;
}
